 <div class="row form_for_help">
    <p>Here you can add the item to the store</p>
    <form action="/" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <input name="name" type="text" class="validate" required>
          <label>Name</label>
          <span class="helper-text" data-error="Enter YOUR name"></span>
        </div>
        <div class="input-field col s4">
          <input name="photo" type="tel" class="validate" required>
          <label>Photo</label>
          <span class="helper-text" data-error="Enter YOUR mobile number"></span>
        </div>
        <div class="input-field col s4">
          <input name="email" type="number" class="validate" required>
          <label>Price</label>
          <span class="helper-text" data-error="Enter YOUR email"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button class="btn btn-primary">Add product</button>
      </div>
    </form>
  </div>